
@font-face {
	font-family: 'Apple Chancery';
	font-style: normal;
	font-weight: normal;
	src: local('Apple Chancery'), url('Apple Chancery.woff') format('woff');
}



html{
	scroll-behavior: smooth;
	
	/*background: rgb(242,228,202);
	background: linear-gradient(0deg, rgba(242,228,202,1) 0%, rgba(241,202,101,1) 50%, rgba(251,165,76,1) 100%);*/
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	height: 100%;
  	background-color: white;



}

body{

	margin: 0;
	/*background-position-y: -325px;*/
	/*background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(169,181,157,1) 50%, rgba(120,145,116,1) 100%);*/


	overflow-x: hidden;
    margin: 0;
    background-color: #FFF;
    color: #777;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;

}


nav {
	background-color: rgb(255, 255, 255,0.75);
	font-weight: normal;
	position: fixed;
	z-index: 2;
  	left: 0;
	right: 0;
	font-size: 16px;
	/*background-color: rgb(255, 255, 255,.25);*/
	padding: 0 10px 0;
	border-bottom: 1px solid black;
	
	
}

nav ul{
	
	margin: 0;
	padding: 0;
	display: inline-block;

}

nav li {
 	display: inline-block;
 	padding: 0 20px;
}




nav .logo2{
	width: 150px;
	position: absolute;
	margin: -20px -20px;

}

nav .redes{
	width: 30px;
}

nav li a {
  	color: #111111;
  	text-decoration: none;
  	letter-spacing: 1px;
  	 display: block;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover {
  font-weight: bold;
}

.col-left{
	text-align: left;
}
.col-center{
	text-align: center;
}
.col-right{
	text-align: right;
}


.start{
	border-bottom: 1px solid black;
}




/* The dots/bullets/indicators */
/*
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
*/


/*------------------ INDEX01 - HOME -----------------*/

.start{
	border-bottom: 1px solid black;
}

.logo1{
	height: 100vh;
	background-image: url('../img/7.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -200px;
	text-align: center;
	padding-top: 150px;
	margin-bottom: 20px;
}

.logo1 img{
	
	width: 100%;
  	height: auto;
  	max-width: 1000px;
  	min-width: 200px;
}

.mais img{
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	display: block;
	position: absolute;
	margin-top: -100px;
}

.button{
	background-color: #ffffff;
	border: 2px solid #111111;
	border-radius: 100px;
	text-decoration :none;
	padding: 10px 30px;
	display: inline-block;
	color: #244441;
	transition: background 0.5s ease-in-out, font-weight 0.25s ease-in-out, color 0.25s ease-in-out;
}

.button:hover{
	background: #758064;
	color: #FFF;
}

h1{
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #111111;
	font-weight: 700;
}
h2{
	color: #e3a92c;
	font-size: 40px;
	font-weight: normal;
	z-index: 1;
	font-family:'Apple Chancery';
}
h3{
	color: #111111;
	font-size: 30px;
	font-weight: bold;
}



.sobre, .produtos, .contactos{

	text-align: center;
	margin: 100px 0;
}


.sobre img, .produtos img, .contactos img{
	box-shadow: 50px 50px 70px rgba(0,0,0,0.75);
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.sep-1 {
	margin: 100px 0;
	background-image: url('../img/1.jpg'), url('../img/3.jpg'), url('../img/5.jpg');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center, left, right;
	background-size: contain, contain, contain;
	height: 400px;
	position: relative;

}

.sep-2 {
	background-image: url('../img/5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -200px;
	height: 400px;
	position: relative;
}

.sep-1 .hero-text, .sep-2 .hero-text{
	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%); 
	text-shadow: 0 0 50px rgba(255,255,255,1);
}

/*style="font-family:'Apple Chancery';font-weight:normal; font-size: 20px;"*/




/*------------------------ INDEX02 - A Loja -----------------------------------*/


.about{
	height: 50vh;
	background-image: url('../img/7.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -400px;
	text-align: center;
	padding-top: 150px;
	margin-bottom: 20px;
}

.title{
	text-align: center;
	font-weight: 700;
	padding: 70px 0 50px 0;

}




figcaption {
	font-size: 12px;
	text-align: center;
}




.right-allign {
	text-align: right;
}



.cosmetics, .ipad, .dashboard{
	padding: 50px 0;

}

.cosmetics img, .ipad img, .dashboard img{
	box-shadow: 50px 50px 70px rgba(0,0,0,0.75);
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	/*border-radius: 50px;*/
}


.cosmetics, .ipad{
	/*background-color: rgb(216, 198, 150);*/
	
}



/*-------------------- SLIDESHOW ---------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.text1{
	background-color: black;
}





/*------------------------*/


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div {
    display: block;
}


.responsive-image, .manufacturer-image {
    width: 100% \9;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    }

.manufactuer-image-cont img, .category-image-cont img {
    margin: 0 auto;
}

a:-webkit-any-link {
    cursor: pointer;
}

.category-name a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}

a, a:hover, a:focus, a:active {
    outline: 0 none;
}

.category-name{
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0 10px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.col-md-3 {
    width: 25%;
}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container .inner-container {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-right: -1px;
    margin-left: -1px;
    padding-left: 0;
    padding-right: 0;
}


.container .inner-container {
    background-color: transparent;
    border-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


#mainbody .container .inner-container {
    background-color: transparent;
    border-top: 0 none;
    border-bottom: 0 none;
}

#mainbody .container .inner-container {
    padding-top: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.modpos-collapse {
    display: block !important;
}

.module-cont {
    position: relative;
    margin-bottom: 0px;
}

.sidebar-menu, .sidebar-menu ul, .aside-inner .mostread, .aside-inner .latestnews, .aside-inner .archive-module, .aside-inner .categories-module {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vpf-collapsible-menu, .vpf-collapsible-menu ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.modpos-collapse {
    display: block !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.container {
    overflow: hidden;
}

.sidebar-menu li.deeper>a, .sidebar-menu li.deeper>span {
    padding-right: 40px;
}


.sidebar-menu li>a, .sidebar-menu li>span, .aside-inner .mostread li>a, .aside-inner .mostread li>span, .aside-inner .latestnews li>a, .aside-inner .latestnews li>span, .aside-inner .archive-module li>a, .aside-inner .archive-module li>span, .aside-inner .categories-module li>h3>a, .aside-inner .categories-module li>h4>a, .aside-inner .categories-module li>h5>a, .aside-inner .categories-module li>h6>a, .aside-inner .categories-module li>h7>a {
    display: block;
    position: relative;
    border-bottom: 1px solid #EEE;
    padding: 10px 15px;
    color: #333;
    font-size: inherit;
    line-height: inherit;
}

.vpf-collapsible-menu li>a, .vpf-collapsible-menu li>span {
    position: relative;
    display: block;
}


.produtos-index{
	margin-top: 100px;
}

.produtos-index ul li a{
	text-decoration: none;
}


.mod-header{
	margin-top: 0;
}





.w3-hide{display:none!important}
.w3-show-block,.w3-show{display:block!important}
.w3-show-inline-block{display:inline-block!important}


.category-item-inner, .vmcategory{
	margin-bottom: 20px;
}

.vpf-collapsible-menu .open>a>.opener:after, .vpf-collapsible-menu .open>span>.opener:after {
    content: "\f106";
    font-size: 16px;
}