
@font-face {
	font-family: 'Apple Chancery';
	font-style: normal;
	font-weight: normal;
	src: local('Apple Chancery'), url('Apple Chancery.woff') format('woff');
}



html{
	scroll-behavior: smooth;
	/*font-family: 'Titillium Web', sans-serif;
	/*background: rgb(242,228,202);
	background: linear-gradient(0deg, rgba(242,228,202,1) 0%, rgba(241,202,101,1) 50%, rgba(251,165,76,1) 100%);*/
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	height: 100%;
  	background-color: white;

}

body{

	background-image: url('../img/5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -150px;
	height: 100vh;
	/*background-position-y: -325px;*/
	margin: 0;
	/*background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(169,181,157,1) 50%, rgba(120,145,116,1) 100%);*/

}


nav {
	position: fixed;
	z-index: 2;
  	left: 0;
	right: 0;
	font-size: 22px;
	/*background-color: rgba(78,78,78,0.5);*/
	text-align: center;
	padding: 20px 10px;
	margin: 0;
	/*border-radius: 100px;*/
	/*font-family: 'Apple Chancery', cursive;*/
	/*letter-spacing: 2px;*/
	
}

nav ul{
	margin: 0;
	padding: 0;

}

nav li {
 	display: inline-block;
 	margin: 0 25px;
}


nav .logo2{
	width: 200px;
	margin: 0;
	padding: 0;

}

nav li a {
  	color: #fff;
  	text-decoration: none;
}



/*------------------ INDEX01 - HOME -----------------*/

.logo1{
	text-align: center;
	height: 85vh;
	padding-top: 100px;
	margin-bottom: 70px;
}

.logo1 img{
	
	width: 100%;
  	height: auto;
  	max-width: 800px;
  	min-width: 200px;
}

.mais{
	text-align: center;
}

.button{
	background-color: #ffffff;
	border: 1px solid #244441;
	border-radius: 100px;
	text-decoration :none;
	padding: 10px 30px;
	display: inline-block;
	color: #244441;
	transition: background 0.5s ease-in-out, font-weight 0.25s ease-in-out, color 0.25s ease-in-out;
}
.button:hover{
	background: #758064;
	color: #FFF;
}

h1{
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*font-family: 'Passion One', cursive;*/
	
	/*font-family: 'Work Sans', sans-serif;*/
	font-family:'Apple Chancery';
	font-weight: bold;
		

	display: inline-block;

	color: #e3a92c;
	line-height: 100%;
	
	font-weight: 900;
}
h2{
	color: #e3a92c;
	font-size: 50px;
	line-height: 150%;
	font-weight: normal;
}
h3{
	color: #244441;
	font-size: 30px;
	line-height: 150%;
	font-weight: bold;
	margin: 0;
}


.slogan{
	margin-top:110px;
}

.susten{
	margin-top: 100px;
	text-align: center;
}


/*style="font-family:'Apple Chancery';font-weight:normal; font-size: 20px;"*/




/*------------------------ INDEX02 - A Loja -----------------------------------*/


.title{
	text-align: center;
	font-weight: 700;
	padding: 70px 0 50px 0;

}


figcaption {
	font-size: 12px;
	text-align: center;
}


p {
	text-align: justify;
	line-height: 150%
}

.right-allign {
	text-align: right;
}


.col-sm img{
	max-width: 100%
}

.cosmetics, .ipad, .dashboard{
	padding: 50px 0;

}

.cosmetics img, .ipad img, .dashboard img{
	max-height: 500px;
	display: block;
	box-shadow: 50px 50px 1000px rgba(0,0,0,0.75);
	margin: 0 auto 20px;
	border-radius: 50px;
}


.cosmetics, .ipad{
	/*background-color: rgb(216, 198, 150);*/
	
}

