
@font-face {
	font-family: 'Apple Chancery';
	font-style: normal;
	font-weight: normal;
	src: local('Apple Chancery'), url('Apple Chancery.woff') format('woff');
}



html{
	scroll-behavior: smooth;
	
	/*background: rgb(242,228,202);
	background: linear-gradient(0deg, rgba(242,228,202,1) 0%, rgba(241,202,101,1) 50%, rgba(251,165,76,1) 100%);*/
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	height: 100%;
  	background-color: white;



}

body{

	margin: 0;
	/*background-position-y: -325px;*/
	/*background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(169,181,157,1) 50%, rgba(120,145,116,1) 100%);*/


	overflow-x: hidden;
    margin: 0;
    background-color: #FFF;
    color: #777;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;

}


img{
  border-radius: 10px;
}

nav {
	background-color: rgb(255, 255, 255,0.75);
	font-weight: normal;
	position: fixed;
	z-index: 2;
  	left: 0;
	right: 0;
	font-size: 16px;
	/*background-color: rgb(255, 255, 255,.25);*/
	padding: 0 10px 0;
	border-bottom: 1px solid black;
  display: block;
	
	
}

nav ul{
	
	margin: 0;
	padding: 0;
	display: inline-block;

}

nav li {
 	display: inline-block;
 	padding: 0 20px;
}




nav .logo2{
	width: 210px;
	position: absolute;
	margin: -5px -10px;

}

nav .redes{

	width: 100%;
  	height: auto;
	margin-top: 10px;
}




.redes a{
  margin: 0;
  padding: 0;
}

.redes li{
  padding: 0 10px;
}

.redes img{
  border-radius: 0px;
}

nav li a {
  	color: #111111;
  	text-decoration: none;
  	letter-spacing: 1px;
  	 display: block;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;

  	transition: opacity .3s ease,width .3s ease;
    transition-property: opacity, width;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

li a:hover {
  font-weight: bold;
}

.col-left{
  text-align: left;
  justify-content: left;
}
.col-center{
  text-align: center;
  justify-content: center;
}
.col-right{
  text-align: right;
  justify-content: right;
  width: 200px;
}





h1{
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #111111;
	font-weight: 700;
}
h2{
	color: #111111;
	font-size: 40px;
	font-weight: bold;
  z-index: 1;
  margin: 10px 0;;
}
h3{
	color: #92a967;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
  font-family:'Apple Chancery';
  margin: 0;
  
}

h4{
	font-size: 22px;
	font-weight: bold;
}

/* The dots/bullets/indicators */
/*
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
*/



footer{
  font-size: 14px;
	color:white;
	padding: 0 0;
  background-color: #292d23;
	/*background: rgb(160,152,113);
	background: linear-gradient(90deg, rgba(160,152,113,0.90) 0%, rgba(160,152,113,1) 25%, rgba(160,152,113,1) 75%, rgba(160,152,113,0.90) 100%);
	*/
  height: auto;

  line-height: 1;
  text-align: center;
  padding-bottom: 20px;
}

footer p{
  text-align: center;
}

footer li{
  display: inline-block;
}

footer .col-xl-4, footer .col-md-4{
  text-align: center;
  display: block;
}

footer a{
  text-decoration: none;
  color: #fff;
}


.redes2{
	height: 15px;
}

footer img{
	filter: brightness(0) invert(1);

}

.responsive {
  margin-top: 100px;
  width: 50%;
  height: auto;

}


.logo{
	width: 40%;
  height: auto;
  margin-top: 20px;
}

p{
	text-align: justify;
}


.simbol-up{
  vertical-align: text-top;
}


footer h4{
  margin-bottom: 0;
}




.frame{
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.vertical-center{
 display: inline-block;
    vertical-align: middle;
}



.start{
  border-bottom: 1px solid black;
}

/*------------------ INDEX01 - HOME -----------------*/


.logo1{
	height: 100vh;
	background-image: url('../img/11.jpg');
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  
}



.logomain{
  width: 50%;
  min-width: 800px;
  height: auto;
}



.button{
	background-color: #fff;
	border: 2px solid #92a967;
	border-radius: 10px;
	text-decoration :none;
	padding: 10px 30px;
	display: inline-block;
	color: #244441;
  transition: background 0.5s ease-in-out, font-weight 0.25s ease-in-out, color 0.25s ease-in-out;
  margin: 20px;
}

.button:hover{
	background: #92a967;
	color: #FFF;
}




.sobre{
	margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}


.sobre p, .produtos p{
  text-indent: 1.5em;
}

.produtos{

	text-align: center;
	margin: 100px 0;
}


.sobre h3, .produtos h3{
  margin: -40px 0;
}

.foto1{
  height: 340px;
  width: 100%;
}

.foto1 img{
  height: 100%;
  object-fit: cover;
  box-shadow: -20px 20px 50px rgba(0,0,0,0.75);
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  object-fit: cover;
}





/*
.sep-1 {
	margin: 100px 0;
	background-image:  url('../img/5.jpg'), url('../img/1.jpg'), url('../img/3.jpg');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center, left, right;
	background-size: contain, contain, contain;
	height: 420px;
  position: relative;
  object-fit: cover;
  float: left;
  width: 100%;
}

  */
.sep-1{
  margin: 100px 0;
  height: 400px;
  width: 100%;

}

.sep-1 img{
  float: left;
  width: 33.3%;
  max-height: 800px;
  height: 100%;
  object-fit: cover;
  border-radius: 00;
  
}


/*style="font-family:'Apple Chancery';font-weight:normal; font-size: 20px;"*/




/*------------------------ INDEX02 - A Loja -----------------------------------*/


.title{
	height: 300px;
	background-image: url('../img/11.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 150px;
	position: relative;


}

.title h1{
  display: inline-block;
  vertical-align: middle;
}


.title{
	text-align: center;
	font-weight: 700;
	padding: 70px 0 50px 0;

}

.thestore{
	margin: 100px 0 50px;
}

.thestore p{
  text-indent: 1.5em;
}

.foto2{
  text-align: center;
  padding: 0;
}

.foto2 img{
  margin: 0 auto;
  max-height: 600px;
  box-shadow: -20px 20px 50px rgba(0,0,0,0.75);
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  object-fit: cover;
}


.procedimento{
	text-align: center;
}

.procedimento img{
	height: 80px;

}

.procedimento p{
  text-align: center;
}

.flask{
	display: inline;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash{
  padding: 1px 20px 0;
}



.dash h1, .dash h2, .dash h3, .dash h4{
	text-align: center;
}

.dash h4{
  margin: 0;
}

.dash ul{
  max-width: 800px;
}
.dash p{
  max-width: 700px;
  text-indent: 1.5em;
}

figcaption {
	font-size: 12px;
	text-align: center;
}




.right-allign {
	text-align: right;
}






/*-------------------- SLIDESHOW ---------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 50px auto 0;
  max-width: 1080px;
  width: auto;
  height:400px;
  padding: 0 auto;
  background-color: white;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  padding: 50px ;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #111;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.text1{
	background-color: black;
}





/*-------------------------------INDEX03-----------------------------*/


.category{
  font-size: 22px;
  color: #111111;
  font-weight: bold;
}

.sidenav{
  letter-spacing: 1px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #111111;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  letter-spacing: 1px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #111111;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #111111;
  font-weight: bold;

}


/* Add an active class to the active dropdown button */
.active {
  color: #111111;
  font-weight: bold;

}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 15px;
  font-size: 12px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  padding-right: 15px;
}




.product-table{
  margin-top: 100px;
  margin-bottom: 100px;
}

.product-table p{
  text-indent: 1.5em;
}

.product{
  margin: 5px 0px;
  text-align: center;
  padding: 0;
}

.product .display{
  width: 200px;
  height: 200px;
  object-fit: cover;


}



.product a, .product figcaption{
  text-decoration: none;
  color: #818181;
  font-size: 14px;
}






/* ----------------------------------------------------------INDEX04------------------------------------------------------------- */


.title2{
  height: auto;
  background-image: url('../img/11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 150px;
  position: relative;
}




.title2{
  text-align: center;
  font-weight: 700;
  padding: 70px 0 50px 0;
}

.contactos h4{
  margin: 0;
}

.contactos p{
  text-align: center;
  margin: 0;
}

.contactos{
  color: #111;
  padding: 50px;
  text-align: center;
}


.contactos img{
  width: 50px;
  filter: brightness(0) invert(0.3);

}


.be-sustentavel{
  background-color: #cea045;
  margin: 0;
}

.be-sustentavel h2, .be-sustentavel h4, .be-sustentavel h5{
  margin: 0;
}



/*------------------------------MPAS*/

.map{
  /*padding-top: 54px;*/
  margin: 0;
  height: 400px;
}




/*--------------------- POP 2------------------------------------*/


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(111,111,111,0.50);
  transition: opacity 1000ms;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.pop {
  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;
  margin: 70px 70px;
  background-color: rgba(111,111,111,0.97);
  border-radius: 10px;

  position: fixed;
  height: auto;
  width: auto;
  overflow: auto;
  color: #fff;
}

.pop p{
  text-indent: 1.5em;
}

.pop p, .pop ul{
  text-align: justify;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
}

.pop h4{
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.pop h5{
  font-size: 22px;
  margin-top: 0;
  padding-top: 0;
}

.pop aside{
  text-align: justify;
  font-size: 14px;
}

.pop .close {
  position: fixed;
  top: 50px;
  right: 15%;
  transition: all 200ms;
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.pop .close:hover {
  color: #92a967;
}


.pop img{
  width: 70%;
  height: auto;
  padding-bottom: 10px;
  border-radius: 40px;
}

/*



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup 
.popup .popuptext {
  visibility: hidden;
  width: auto;
  height:auto;
  background-color: rgba(111,111,111,0.97);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 50px 50px 50px;
  position: fixed;
  z-index: 1;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  overflow:auto;
}



/* Toggle this class - hide and show the popup 
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) 
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.popuptext h4{
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.popuptext h5{
  font-size: 22px;
  margin-top: 0;
  padding-top: 0;
}


.popuptext img{
  width: 50%;
  height: auto;
  padding-bottom: 10px;
}

.popuptext p, .popuptext aside{
  text-align: justify;
  margin: 0;
}

.popuptext aside{
  padding: 30px 0 0 0;
}

.popuptext b{
  letter-spacing: 0.5px;
}

.popuptext li{
  padding-bottom: 10px;
}
